<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product successfuly Added</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__ul_list">
                <li class="header__li"><a href="/shop">Shop</a></li>
                <li class="header__li"><a href="/add-product">Add Product</a></li>
                <li class="header__li"><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <h1>Product successfuly Added</h1>
</body>
</html>